.navbar {
  display: flex;
  gap: 1em;
  background-color: teal;
}

.navbar a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
  padding: 1em;
  text-align: center;
  border-top: 1px solid lightgray;
}

/* Article CSS */
.article {
  max-width: 740px;
  margin: 4em auto;
  padding: 0 2em;
}

.article .post-title {
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.article .post-meta {
  margin: 1em 0;
  font-size: 0.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}

.article .post-body {
  line-height: 1.6rem;
}

/* Form */
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2em 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input, textarea {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
}

input:focus, textarea:focus {
  outline-color: dodgerblue;
}

.invalid {
  border: 2px solid rgb(153, 16, 16);
}

.invalid::placeholder {
  color: rgb(153, 16, 16);
}

.invalid-feedback:empty {
  display: none;
}

.invalid-feedback {
  font-size: smaller;
  color: rgb(153, 16, 16);
}

/* Button */
.button {
  background-color: #e7e7e7;
  border: 2px solid transparent;
  border-radius: 8px;
  color: black;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.button-success {
  background-color: #4caf50;
  color: white;
}

.button-primary {
  background-color: #008cba;
  color: white;
}

.button-danger {
  background-color: #f44336;
  color: white;
}

.button-small {
  font-size: 0.7rem;
}